{% extends 'layout.html' %}

{% block body %}

  <h1>Index Page</h1>
  <div class="container">
    <h3>Create a User</h3>
    <form action='/users' method='post'>
      <label class="form-label" for='name'>Name:</label>
      <input class="form-control " type='text' name='name'>
      <label class="form-label" for='email'>Email:</label>
      <input class="form-control" type='text' name='email'>
      <input class="form-control btn btn-secondary" type='submit' value='Create User'>
      <button class="form-control btn btn-secondary" type='submit' value='clear users' formaction="/clear">Clear Users</button>
    </form>
  </div>

<div id="users">
  <div class="usersInfo">
    <h2>Users:</h2>
    {% for user in session['users'] %}
      <h4 >{{user}}</h4>
    {% endfor %}
  </div>
  <div class="usersInfo">
    <h2>Email:</h2>
    {% for user in session['usersEmail'] %}
      <h4>{{user}}</h4>
    {% endfor %}
  </div>
  <p>Number of Users: {{session['count']}}</p>
  <p>Number of Visits: {{session['visits']}}</p>
</div>

{% endblock %}

